@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
html {
    font-size: 62.5%;
}

$fontMerienda:'Merienda';


//usando map de tamaños de textos
$tamanoTexto:(
    textGrandeL:4rem,
    textGrandeM:3rem,
    textGrandeS:2rem,
    textChikiL:1.5rem,
    textChikiM:1.3rem,
    textChikiS:1.2rem,
);

//fin


$weightGrueso:900;
$weightBold:bold;
