footer {
    background: linear-gradient(to top, $btninicioColor, $greenBorderMapaColor);
    font-size:map-get($tamanoTexto, textChikiL);
    font-weight: $weightBold;
    padding: 20px;
    text-align: center;
    margin-top: 5px;
    img{
        width: 70px;
        margin: 0px 20px;
        @media only Screen and (max-width:720px) {
            width: 40px;
        }
    }
    p{
        font-weight: $weightGrueso;
    }
}
