header {
    text-align: center;
}

header{
    img{
        width: 80%;
        border-radius: 10px;
    }
}

.imgCarrusel {
    height: 70vh;
    @media only Screen and (max-width:700px) {
        height: 40vh;
    }
}