$magentacolor:darkmagenta;
$greenColor:green;
$blackColor:black;
$btninicioColor:#DEC6D0;
$btnfinalColor:rgb(230, 133, 230);
$greenBorderMapaColor:#72BEA2;
$greenFormColor:#b5ebd7;
$tituloSecAndBorderColor:#EB8078;
$tituloTablaColor:#a3bbb2;

